@model Edmsoft.Models.StudentGrade
@{
	ViewData["Title"] = "Create";
}
<h2>Registrar</h2>

<h4>Estudiante</h4>
<h6>A continuación registre las notas por favor.</h6>
<hr /> 

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>

			</div>
			<div class="form-group">
				<label asp-for="PrimerCorte" class="control-label">Primer Corte</label>
				<input asp-for="PrimerCorte" class="form-control" />
				<span asp-validation-for="PrimerCorte" class="text-danger"></span>
				<asp:RegularExpressionValidator runat="server" ErrorMessage="Número con decimal solamente" ID="txtregpre" ValidationGroup="Insert"
                ControlToValidate="PrimerCorte" ValidationExpression="^\d+\.\d{0,2}$"></asp:RegularExpressionValidator>
			</div>
			<div class="form-group">
				<label asp-for="SegundoCorte" class="control-label">Segundo Corte</label>
				<input asp-for="SegundoCorte" class="form-control" />
				<span asp-validation-for="SegundoCorte" class="text-danger"></span>
				<asp:RegularExpressionValidator runat="server" ErrorMessage="Número con decimal solamente" ID="txtregpre" ValidationGroup="Insert"
                ControlToValidate="SegundoCorte" ValidationExpression="^\d+\.\d{0,2}$"></asp:RegularExpressionValidator>
			</div>
			<div class="form-group">
				<label asp-for="TercerCorte" class="control-label">Tercer Corte</label>
				<input asp-for="TercerCorte" class="form-control" />
				<span asp-validation-for="TercerCorte" class="text-danger"></span>
				<asp:RegularExpressionValidator runat="server" ErrorMessage="Número con decimal solamente" ID="txtregpre" ValidationGroup="Insert"
                ControlToValidate="TercerCorte" ValidationExpression="^\d+\.\d{0,2}$"></asp:RegularExpressionValidator>
			</div>
			<div class="form-group">
				<label asp-for="Comentarios" class="control-label"></label>
				<input asp-for="Comentarios" class="form-control" />
				<span asp-validation-for="Comentarios" class="text-danger"></span>
				</div>
			<div class="form-group">
				<input type="submit" value="Registrar" class="btn btn-success" />
			</div>
			<div>
	<a asp-action="Index">Regresar a la lista</a>
</div>
		</form>
	</div>
</div>


@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}  