@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <div class="card-group">
  <div class="card">
    <img src="~/img/est.jpg" class="card-img-top" href="/Student"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Módulo notas estudiantes</h5>
      <p class="card-text">Aquí encontraras el módulo para registrar, actualizar, listar y eliminar notas de cada uno de los estudiantes de la clase.</p>
      <p class="card-text"><small class="text-muted">Actualizado hace 3 minutos...</small></p>
      <a href="/Student" class="stretched-link"></a>
    </div>
  </div>
  <div class="card">
    <img src="~/img/docentes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Módulo docentes</h5>
      <p class="card-text">Aquí encontrara la información curricular por materias de las carreras del politecnico internacional, nucleos temáticos y según el pensum.</p>
      <p class="card-text"><small class="text-muted">Actualizado hace 7 minutos...</small></p>
      <a href="#" class="stretched-link"></a>
    </div>
  </div>
  <div class="card">
    <img src="~/img/admin.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Módulo administrativos</h5>
      <p class="card-text">Aquí los administrativos del Politécnico podran validar información de pagos de matrícula, diplomados entre otros, además acceso a funciones de IT.</p>
      <p class="card-text"><small class="text-muted">Actualizado hace 5 horas..</small></p>
      <a href="#" class="stretched-link"></a>
    </div>
  </div>

</div>
    <p>Sitio en construcción diríjase <a href="https://politecnicointernacional.edu.co/">aquí </a>para mas información</p>
</div>
    